1 VERSIONINFO
FILEVERSION    0,1,0,0
PRODUCTVERSION 0,1,0,0
FILEOS 0x40004L
FILETYPE 0x2L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "CompanyName",      "Anomalous Software Deterioration Corporation"
            VALUE "FileDescription",  "ohook SPPC"
            VALUE "FileVersion",      "0.1.0.0"
            VALUE "InternalName",     "sppc"
            VALUE "LegalCopyright",   "© 2023 Anomalous Software Deterioration Corporation"
            VALUE "OriginalFilename", "sppc.dll"
            VALUE "ProductName",      "ohook"
            VALUE "ProductVersion",   "0.1.0.0"
        END
    END

    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1252
    END
END
